/* Añadir a tu archivo styles.css */
#testConciencia {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-yes-no {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-yes-no:hover {
    background-color: #45a049;
}

#testResult {
    font-size: 1.2rem;
    margin-top: 20px;
}
